@font-face {
    font-family: periodico;
    src: url(assets/EnglishTowne.ttf);
}
*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #FFEED3;
}
#board, .boardInfo{
    max-width: 500px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

#start, .boardInfo{
    font-size: 25px;
}

#gameOver{
    font-family:periodico;
    display: none;
    font-size: 50px;
    position:absolute;
    left: 135px;
    top: 200px;
}

.boardInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start {
    background-color: burlywood;
    border: none;
    color: rgb(88, 38, 7);
    font-weight: bold;
}

#scoreBoard {
    display: inline-flex;
    font-weight: bold;
}
.punt{
    font-weight: bold;
}
.square {
    aspect-ratio: 1;
}

.emptySquare {
    background-color: burlywood;
}

.snakeSquare {
    background-color: #9FB3B0;
}

.foodSquare {
    background-color: #8A191B;
}